/* body {
    width: 1660px;
} */

.header {
    background-image: url("../images/banner-bg.jpg");
}
  
.container {
    max-width: none;
    width: 1200px;
    height: 72px;
    padding-left: 19px;
    padding-top: 28px;
    position: relative;
}
  
.logo {
    height: 40px;
}
  
.menu {
    flex-direction: row;
}

.switch-menu {
    display: none;
}

.burger-menu {
    display: flex;
    position: absolute;
    right: 15px;
    top: 28px;
    left: auto;
    width: auto;
}
  
.intro {
    width: 705px;
    max-width: none;
    margin-top: 101px;
    padding-bottom: 127px;
}
  
h1 {
    font-size: 45px;
    line-height: 75px;
}
  
.main {
    max-width: none;
}

.post-list {
    margin-bottom: 64px;
}

.trends {
    margin-top: 0;
}

.block-name {
    margin-top: 59px;
}

.trend {
    margin-top: 12px;
    height: 320px;
    width: calc((100% - 3 * 4px)/4);
}

.trend-frame {
    padding-left: 29px;
    right: 22px;
    left : 21px;
}

.trend-category-list {
    margin-left: 2px;
    margin-top: 35px;
    margin-bottom: -28px;
}

.trend-title {
    max-width: 300px;
}
  
h5 {
    font-size: 20px;
    line-height: 24px;
}

.picture {
    height: 295px;
    max-width: none;
}

.posts {
    max-width: none;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 64px;
}
  
.post {
    display: flex;
    flex-wrap: nowrap;
    max-width: none;
    width: 778px;
}
  
.post:nth-child(1n+2) {
    margin-top: 58px;
}
  
.frame {
    margin-left: 28px;
    width: 367px;
}

.title {
    margin-top: -14px;
}
  
.category-list {
    margin-top: -3px;
}

.category-list a {
    margin-right: 18px;
    margin-left: 1px;
}
  
h2 {
    font-size: 20px;
    line-height: 24px;
}
  
.date-author {
    margin-top: 27px;
    width: 367px;
}

.author {
    padding-left: 8px;
}
  
.text {
    padding-top: 45px;
    line-height: 22px;
    letter-spacing: 0;
}
  
.text p {
    margin-top: 0px;
}
  
.side-bar {
    position: absolute;
    max-width: none;
    right: 10px;
    width: 274px;
    top: -5px;
    margin-top: 0;
}
  
.new-posts {
    margin-left: 0px;
}
  
h3 {
    font-size: 14px;
}
  
.new-posts:after {
    margin: 0 auto;
} 
  
.side-post {
    margin-top: 20px;
}
  
.side-frame {
    width: 181px;
}
  
.side-picture {
    height: 70px;
}

.search-group {
    max-width: none;
    width: 221px;
}
  
.search {
    margin-top: 66px;
    margin-left: -8px;
}
  
.subscribe {
    margin-top: 58px;
}
  
.subscribe-title {
    margin-left: -11px;
}
  
.subscribe-field {
    width: 270px;
}
  
.subscribe-button{
    margin-left: -1px;
    margin-top: 20px;
    width: 270px;
}
  
.tags {
    margin-top: 56px;
}

.tags-title {
    margin-left: -6px;
}
  
.categories {
    margin-top: 51px;
    margin-left: -2px;
}
  
.categories-list {
    margin-top: 0;
}

.shop {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 7px;
    height: 438px;
    max-width: 1170px;
    gap: 108px;
}

.product {
    width: calc((100% - 2 * 110px)/3);
}

.product-picture {
    width: 300px;
    max-width: none;
}

.product-frame {
    width: calc(100% + 43px);
    max-width: none;
    margin-bottom: 0px;
    padding-top: 34px;
    height: 266px;
}

.product-name h2 {
    font-size: 20px;
}

.link {
    margin-bottom: 0px;
}

.product-price {
    margin-top: 1px;
    margin-left: 1px;
}

.curent-price {
    margin-left: 3px;
}

.shop-button {
    right: 5px;
}
  
.footer {
    max-width: none;
    width: 1200px;
    margin-top: 64px;

    padding-left: 15px;
    padding-right: 15px;
}
  
.icon {
    margin-left: 14px;
}
  
.copyrights {
    margin: 66px auto 40px auto;
}

.pop-up-content {
    height: 590px;
    width: 390px;

    padding: 0px 30px;
}

.pop-up-close {
    right: -1px;
    top: -26px;
    width: 18px;
    height: 18px;
}

.leave-feedback {
    width: 270px;
}

.pop-up-title {
    margin-top: 49px;
    margin-left: 5px;
    font-size: 20px;
}

.pop-up-title:after {
    margin-left: 125px;
    margin-top: 9px;
}

.visit {
    margin-top: 25px;
}

.pop-up p {
    width: 320px;
}

.regularity {
    width: 100%;
    height: 49px;

    background-position: right 14px center;

    padding-left: 18px;
}

.sub {
    margin-top: 31px;
}

.mailing {
    margin-top: -7px;
    gap: 14px;
}

.check::before {
    background-position: left 0px center;
    background-size: 18px;
    margin-right: 5px;

    width: 18px;
    height: 18px;
}

.topics {
    margin-top: 29px;
}

.topics-field {
    padding: 16px 20px;
}