@font-face {
    src: url("../fonts/OpenSans-Bold.woff");
    font-family: OpenSans-Bold;
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    src: url("../fonts/OpenSans-Regular.woff");
    font-family: OpenSans-Regular;
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: "Arial", sans-serif;
    color: #000000;
}
  
.header {
    background-image: url("../images/banner-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: #000;
    position: relative;
    z-index: 0;
    width: 100%;
}
  
.header::after {
    content: " ";
    display: block;
    
    position: absolute;
    background-color: #000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    
    opacity: 0.6;
    
    z-index: -1;
}
  
.container {
    display: flex;
    box-sizing: border-box;
    max-width: 330px;
    width: 100%;
    height: 286px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 28px;
    padding-right: 15px;
    padding-top: 227px;
}
  
.logo {
    height: 61px;
}
  
.logo-link {
    display: flex;
}
  
.menu-toggle {
    display: none;
}

.menu-btn {
    width: 23px;
    height: 3px;
    background-color: #ffffff;

}

.burger-menu {
    display: none;
    position: absolute;
    left: -15px;
    top: 15px;
    width: calc(100% - 50px);
}

.menu-toggle:checked + .burger-menu {
    display: flex;
}

.switch-menu {
    display: flex;
    gap: 5px;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 9px;
    top: 33px;
}

.navigation {
    margin-top: 13px;
}
  
.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    font-family: OpenSans-Regular;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
  
.menu li {
    display: inherit;
    text-align: center;
}
  
.menu a:nth-child(1n+1) {
    margin-left: 35px;
}
  
.menu a {
    color: #ffffff;
    text-decoration: none;
}
  
.menu a:hover {
    border-bottom: 1px solid #ffffff; 
}
  
.intro {
    box-sizing: border-box;
    max-width: 640px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    padding-bottom: 211px;
}
  
h1 {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: OpenSans-Bold;
    font-size: 26px;
    line-height: 36px;
    margin: 0;
}
  
.main {
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-wrap: wrap;

    margin: 0px auto;
    max-width: 640px;
    width: 100%;
    padding: 0;
}

.post-list {
    margin-bottom: 26px;
}

.trends {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;
    margin-top: 11px;
}

.block-name {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    width: 100%;
}

.block-name:after {
    content: " ";
    width: 66px;
    display: block;
    margin: 0 auto;
    border-bottom: 3px solid #e1d9bd;
    margin-top: 8px;
}

.trend {
    display: flex;
    margin-top: 0px;
    min-height: 231px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding-top: 16px;

    background-repeat: no-repeat; 
    background-position: center top; 
    background-size: cover; 
    background-color: #000;  
    z-index: 0;
}

.first {
    background-image: url(../images/trend1.jpg); 
}

.second {
    background-image: url(../images/trend2.jpg);
}

.third {
    background-image: url(../images/trend3.jpg);
}

.fourth {
    background-image: url(../images/trend4.jpg);
}

@media (orientation: landscape) {
    .trend {
        width: calc((100% - 4px) / 2);
    }
}

.trend::after {
    content: " ";
    display: block;
    
    position: absolute;
    background-color: #000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    
    opacity: 0.6;
    
    z-index: -1;
}

.trend-frame {
    border: 3px solid #b59f5b;
    padding-left: 20px;
    margin-right: 9px;
    margin-bottom: 16px;
    margin-top: auto;
    margin-left: 4px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.trend-category {
    width: 100%;
}

.trend-category-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-family: OpenSans-Bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 1px;
    margin-top: 29px;
    margin-bottom: -19px;
    padding: 0;
}
  
.trend-category-list a {
    color: #b59f5b;
    text-decoration: none;
    margin-right: 19px;
}

.trend-category-list a:hover {
    border-bottom: 2px solid #b59f5b; 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -2px;
}

.trend-title {
    max-width: 275px;
}

.trend-title a {
    color: #ffffff;
    text-decoration: none;
}
  
.trend-title a:hover {
    color: #b59f5b;
}
  
h5 {
    font-family: OpenSans-Bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
}

.picture {
    max-width: 360px;
    width: 100%;
    object-fit: cover;
}

.posts {
    max-width: 360px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
  
.post {
    display: flex;
    flex-wrap: wrap;
    max-width: 330px;
    width: 100%;
    margin-left: 0;
    margin-right: auto;
}

.post::after {
    content:" ";
    max-width: 330px;
    width: 100%;
    display: block;
    margin: 10px auto;
    border-bottom: 3px solid #eeeeee;
}
  
.post:nth-child(1n+2) {
    margin-top: 26px;
}
  
.frame {
    margin-left: auto;
    width: 100%;
}
  
.category-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-family: OpenSans-Bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 0;
}
  
.category-list a {
    color: #b59f5b;
    text-decoration: none;
    margin-right: 18px;
}
  
.category-list a:hover {
    border-bottom: 2px solid #b59f5b; 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -2px;
}
  
.title a {
    color: #0f0d0e;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}
  
.title a:hover {
    color: #b59f5b;
}
  
h2 {
    font-family: OpenSans-Bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
}
  
.date-author {
    margin-top: 16px;
    width: 100%;
}
  
.date {
    font-family: OpenSans-Regular;
    color: #888888;
    font-size: 12px;
}
  
.author {
    font-family: OpenSans-Bold;
    color: #000000;
    font-size: 12px;
    padding-left: 7px;
}
  
.text {
    font-family: OpenSans-Regular;
    color: #0f0d0e;
    font-size: 15px;
    padding-top: 16px;
    line-height: 20px;
    letter-spacing: -0.5px;
    width: 100%;
}
  
.text p {
    margin-top: -3px;
    margin-bottom: 10px;
}
  
.side-bar {
    max-width: 330px;
    width: 100%;
    margin-top: 0;
    margin-bottom: -11px;
}
  
.new-posts {
    margin-left: 5px;
    position: relative;
    margin-bottom: 30px;
}
  
h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: OpenSans-Bold;
    text-align: center;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 16px;
}
  
.new-posts:after {
    content:" ";
    width: 66px;
    display: block;
    margin: -2px auto;
    border-bottom: 3px solid #e1d9bd;
} 
  
.side-post {
    display: flex;
    margin-top: 22px;
}
  
.side-frame {
    margin-left: auto;
    max-width: 236px;
    width: 100%;
}
  
.side-picture {
    max-width: 70px;
    width: 100%;
    object-fit: cover;
}
  
.side-date {
    font-family: OpenSans-Regular;
    color: #888888;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: -4px;
    margin-left: -5px;
}
  
.side-title {
    margin-top: 3px;
    margin-left: -5px;
}
  
.side-title a {
    color: #0f0d0e;
    text-decoration: none;
}
  
.side-title a:hover {
    color: #b59f5b;
}
  
h4 {
    font-family: OpenSans-Bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}
  
.search {
    margin-top: 61px;
    display: flex;
    justify-content: center;
}

.search-group {
    max-width: 281px;
    width: 100%;
}
  
.field {
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 48px;
    padding-left: 17px;
    background-color: #f4f7f6;
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: #000000;
}
  
.field:focus {
    outline: none;
    border: 1px solid #b59f5b;
}
  
.button {
    width: 48px;
    height: 48px;
    border: none;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    background-color: #b59f5b;
    cursor: pointer;
}
  
.button:hover {
    background-color: #323232;
}
  
.subscribe {
    margin-top: 39px;
}
  
.subscribe-title:after {
    content:" ";
    width: 66px;
    display: block;
    margin: 10px auto 21px auto;
    border-bottom: 3px solid #e1d9bd;
} 
  
.subscribe-field {
    box-sizing: border-box;
    border: none;
    max-width: 330px;
    width: 100%;
    height: 48px;
    padding-left: 17px;
    background-color: #f4f7f6;
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: #000000;
    margin-left: -2px;
}
  
.subscribe-field:focus {
    outline: none;
    border: 1px solid #b59f5b;
}
  
.subscribe-button{
    max-width: 330px;
    width: 100%;
    height: 48px;
    margin-top: 18px;
    border: none;
    background-color: #b59f5b;
    cursor: pointer;
    font-family: OpenSans-Bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}
  
.subscribe-button:hover {
    background-color: #323232;
}
  
.tags {
    margin-top: 40px;
}
  
.tags-title:after {
    content:" ";
    width: 66px;
    display: block;
    margin: 10px auto 23px auto;
    border-bottom: 3px solid #e1d9bd;
} 
  
.tags-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-family: OpenSans-Bold;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
  
.tags a {
    display: flex;
    color: #000000;
    text-decoration: none;
    border: 3px solid #eeeeee;
    padding: 4px 12px;
    margin-bottom: 5px;
    margin-right: 6px;
}
  
.tags a:hover {
    border: 3px solid #b59f5b; 
}
  
.categories {
    margin-top: 33px;
}
  
.categories-title:after {
    content:" ";
    width: 66px;
    display: block;
    margin: 10px auto 25px auto;
    border-bottom: 3px solid #e1d9bd;
} 
  
.categories-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: OpenSans-Bold;
    font-size: 14px;
    margin-top: -2px;
    margin-bottom: 0;
    padding: 0;
}
  
.categories a {
    display: flex;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 13px;
    margin-bottom: 14px;
    margin-right: 6px;
}
  
.categories a:hover {
    color: #b59f5b; 
}
  
.counter {
    font-family: OpenSans-Bold;
    font-size: 12px;
    color: #b59f5b;
    margin-left: 4px;
    margin-top: -2px;
}

.shop {
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 21px;
    max-width: 360px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.product {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 438px;
}

.product-picture {
    width: calc(284 / 312 * 100%);
    max-width: 284px;
}

.product-name h2 {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 3px;
}

.product-description {
    font-family: OpenSans-Regular;
    color: #0f0d0e;
    font-size: 15px;
    line-height: 22px;
    max-width: 300px;
    margin-bottom: 13px;
}

.product-description p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.product-description a {
    color: #b59f5b;
    text-decoration: none;
}

.product-frame {
    border: 3px solid #b59f5b;
    box-sizing: border-box;
    width: calc(100% + 23px);
    max-width: 360px;
    margin-top: -36px;
    margin-left: -23px;
    margin-bottom: 25px;
    padding-top: 52px;
    padding-left: 19px;

    display: flex;
    flex-direction: column;
}

.link {
    display: flex;
    max-width: 1200px;
    margin-bottom: 11px;
}

.product-price {
    font-family: OpenSans-Bold;
    color: #0f0d0e;
    margin-top: 2px;
}

.curent-price {
    font-size: 20px;
    margin-top: 16px;
}

.old-price {
    font-size: 14px;
    text-decoration: line-through;
    margin-top: 3px;
}

.new-price {
    font-size: 20px;
    margin-top: -20px;
}

.shop-button {
    position: absolute;
    right: 27px;
    width: 140px;
    height: 50px;
    background-color: #b59f5b;
    color: #ffffff;
    font-family: OpenSans-Bold;
    font-size: 16px;
    margin: 0;
    border: none;
    cursor: pointer;
}

.shop-button:hover {
    background-color: #323232;
}
  
.footer {
    display: flex;
    position: relative;
    box-sizing: border-box;
    max-width: 360px;
    width: 100%;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
}
  
.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #f4f7f6;
}
  
.icon {
    height: 20px;
    margin-right: 13px;
    margin-left: 13px;
    margin-top: 31px;
    margin-bottom: 32px;
}
  
.copyrights {
    font-family: OpenSans-Bold;
    font-size: 12px;
    color: #999999;
    padding-left: 8px;
    margin: 41px auto 50px auto;
}

.pop-up_hidden {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    justify-content: center;
    align-items: center;
    display: none;

    background-color: rgba(0, 0, 0, 0.6);
}

.pop-up-toggle:checked + .pop-up_hidden {
    display: flex;
}

.pop-up-toggle {
    display: none;
}

.pop-up-content {
    height: 546px;
    width: 330px;

    padding: 0px 23px;
    box-sizing: border-box;
    position: relative;


    background-color: #ffffff;
}

.pop-up-close {
    background-image: url(../svg/form-x.svg);
    position: absolute;
    right: 2px;
    top: -33px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.leave-feedback {
    display: inline-block;
    max-width: 330px;
    width: 100%;
    height: 50px;
    background-color: #b59f5b;
    color: #ffffff;
    font-family: OpenSans-Bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 25px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
}

.leave-feedback:hover {
    background-color: #323232;
}

.pop-up-title {
    margin-top: 26px;
    margin-left: -3px;
    font-size: 16px;
    text-align: center;
}

.pop-up-title:after {
    content: " ";
    width: 66px;
    display: block;
    margin-left: 110px;
    border-bottom: 3px solid #e1d9bd;
    margin-top: 10px;
}

.visit {
    margin-top: 26px;
    margin-left: 0;
    margin-bottom: 0;
}

.pop-up_hidden p {
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: #000000;
    text-align: left;
    width: 98%;
}

.regularity {
    width: 100%;
    height: 50px;
    margin-top: -7px;
    border: none;

    background-color: #f4f7f6; 

    font-family: OpenSans-Regular;
    font-size: 13px;
    color: rgba(0, 0,0 , 0.54);

    background-image: url('../svg/form-arrows.svg');
    background-repeat: no-repeat;
    background-position: right 19px center;
    background-size: 9px 18px;

    appearance: none;
    padding-left: 19px;
}

.regularity:focus {
    outline: 1px solid #b59f5b;
}

.sub {
    margin-top: 30px;
    margin-left: 0;
    margin-bottom: 0
}

.mailing {
    display: flex;
    margin-top: -6px;
    gap: 33px;
    vertical-align: middle;
}

.mailing label {
    display: flex;
}

.check::before {
    content: "";
    display: inline-block;

    background-image: url('../svg/form-empty-circle.svg');
    background-repeat: no-repeat;
    background-position: left 0px center;
    background-size: 26px;
    margin-right: 6px;

    width: 26px;
    height: 26px;
    vertical-align: middle;
}

input[name='follow']:checked~.check::before {
    background-image: url('../svg/form-circle.svg');
} 

.check {
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: #000000;
}

input[name='follow'] {
    display: none;
}

.topics {
    margin-top: 28px;
}

.topics-field {
    width: 100%;
    height: 131px;
    border: none;
    margin-top: -6px;
    font-size: 13px;
    font-family: OpenSans-Regular;

    background-color: #f4f7f6;

    box-sizing: border-box;
    display: block;

    padding: 16px 22px;

    resize: none;
}

.topics-field:focus {
    outline: 1px solid #b59f5b;
}

.send-feedback {
    width: 100%;
    height: 50px;
    background-color: #b59f5b;
    color: #ffffff;
    font-family: OpenSans-Bold;
    font-size: 14px;
    margin-top: 25px;
    border: none;
    cursor: pointer;
    padding-bottom: 4px;
}

.send-feedback:focus {
    outline: 1px solid #b59f5b;
}

.send-feedback:hover {
    background-color: #323232;
}

@media (min-width: 1200px) {
    /* body {
    width: 1660px;
    } */

    .header {
        background-image: url("../images/banner-bg.jpg");
    }
    
    .container {
        max-width: none;
        width: 1200px;
        height: 72px;
        padding-left: 19px;
        padding-top: 28px;
        position: relative;
    }
    
    .logo {
        height: 40px;
    }
    
    .menu {
        flex-direction: row;
    }

    .switch-menu {
        display: none;
    }

    .burger-menu {
        display: flex;
        position: absolute;
        right: 15px;
        top: 28px;
        left: auto;
        width: auto;
    }
    
    .intro {
        width: 705px;
        max-width: none;
        margin-top: 101px;
        padding-bottom: 127px;
    }
    
    h1 {
        font-size: 45px;
        line-height: 75px;
    }
    
    .main {
        max-width: none;
    }

    .post-list {
        margin-bottom: 64px;
    }

    .trends {
        margin-top: 0;
    }

    .block-name {
        margin-top: 59px;
    }

    .trend {
        margin-top: 12px;
        min-height: 320px;
        width: calc((100% - 3 * 4px)/4);
    }

    .trend-frame {
        padding-left: 29px;
        margin-right: 22px;
        margin-left : 21px;
    }

    .trend-category-list {
        margin-left: 2px;
        margin-top: 35px;
        margin-bottom: -28px;
    }

    .trend-title {
        max-width: 300px;
    }
    
    h5 {
        font-size: 20px;
        line-height: 24px;
    }

    .picture {
        height: 295px;
        max-width: none;
    }

    .posts {
        max-width: none;
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 64px;
    }
    
    .post {
        display: flex;
        flex-wrap: nowrap;
        max-width: none;
        width: 778px;
    }
    
    .post:nth-child(1n+2) {
        margin-top: 58px;
    }
    
    .frame {
        margin-left: 28px;
        width: 367px;
    }

    .title {
        margin-top: -14px;
    }
    
    .category-list {
        margin-top: -3px;
    }

    .category-list a {
        margin-right: 18px;
        margin-left: 1px;
    }
    
    h2 {
        font-size: 20px;
        line-height: 24px;
    }
    
    .date-author {
        margin-top: 27px;
        width: 367px;
    }

    .author {
        padding-left: 8px;
    }
    
    .text {
        padding-top: 45px;
        line-height: 22px;
        letter-spacing: 0;
    }
    
    .text p {
        margin-top: 0px;
    }
    
    .side-bar {
        position: absolute;
        max-width: none;
        right: 10px;
        width: 274px;
        top: -5px;
        margin-top: 0;
    }
    
    .new-posts {
        margin-left: 0px;
    }
    
    h3 {
        font-size: 14px;
    }
    
    .new-posts:after {
        margin: 0 auto;
    } 
    
    .side-post {
        margin-top: 20px;
    }
    
    .side-frame {
        width: 181px;
    }
    
    .side-picture {
        height: 70px;
    }

    .search-group {
        max-width: none;
        width: 221px;
    }
    
    .search {
        margin-top: 66px;
        margin-left: -8px;
    }
    
    .subscribe {
        margin-top: 58px;
    }
    
    .subscribe-title {
        margin-left: -11px;
    }
    
    .subscribe-field {
        width: 270px;
    }
    
    .subscribe-button{
        margin-left: -1px;
        margin-top: 20px;
        width: 270px;
    }
    
    .tags {
        margin-top: 56px;
    }

    .tags-title {
        margin-left: -6px;
    }
    
    .categories {
        margin-top: 51px;
        margin-left: -2px;
    }
    
    .categories-list {
        margin-top: 0;
    }

    .shop {
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 7px;
        max-width: 1170px;
        gap: 108px;
    }

    .product {
        width: calc((100% - 2 * 110px)/3);
    }

    .product-picture {
        width: 300px;
        max-width: none;
    }

    .product-frame {
        width: calc(100% + 43px);
        max-width: none;
        margin-bottom: 0px;
        padding-top: 49px;
        flex-grow: 1;
    }

    .product-name h2 {
        font-size: 20px;
    }

    .link {
        margin-bottom: auto;
    }

    .product-price {
        margin-top: 1px;
        margin-left: 1px;
    }

    .curent-price {
        margin-left: 3px;
    }

    .shop-button {
        right: 5px;
    }
    
    .footer {
        max-width: none;
        width: 1200px;
        margin-top: 64px;

        padding-left: 15px;
        padding-right: 15px;
    }
    
    .icon {
        margin-left: 14px;
    }
    
    .copyrights {
        margin: 66px auto 40px auto;
    }

    .pop-up-content {
        height: 590px;
        width: 390px;

        padding: 0px 30px;
    }

    .pop-up-close {
        right: -1px;
        top: -26px;
        width: 18px;
        height: 18px;
    }

    .leave-feedback {
        width: 270px;
    }

    .pop-up-title {
        margin-top: 49px;
        margin-left: 5px;
        font-size: 20px;
    }

    .pop-up-title:after {
        margin-left: 125px;
        margin-top: 9px;
    }

    .visit {
        margin-top: 25px;
    }

    .pop-up p {
        width: 320px;
    }

    .regularity {
        width: 100%;
        height: 49px;

        background-position: right 14px center;

        padding-left: 18px;
    }

    .sub {
        margin-top: 31px;
    }

    .mailing {
        margin-top: -7px;
        gap: 14px;
    }

    .check::before {
        background-position: left 0px center;
        background-size: 18px;
        margin-right: 5px;

        width: 18px;
        height: 18px;
    }

    .topics {
        margin-top: 29px;
    }

    .topics-field {
        padding: 16px 20px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .header {
        background-image: url("../images/banner-bg-tablet.jpg");
    }
      
    .container {
        max-width: 697px;
        height: 79px;
        padding-top: 28px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }
      
    .logo {
        height: 36px;
    }
      
    .navigation {
        margin-top: 8px;
        margin-right: 52px;
    }
    
    .switch-menu {
        right: -1px;
        top: 37px;
    }
    
    .burger-menu {
        position: relative;
        top: -5px;
        width: auto;
    }
      
    .menu a:nth-child(1n+1) {
        margin-left: 0px;
    }
      
    .intro {
        width: 615px;
        margin-top: 74px;
        padding-bottom: 113px;
    }
      
    h1 {
        font-size: 40px;
        line-height: 55px;
    }
      
    .main {
        width: 100%;
        max-width: 1200px;
    }
    
    .post-list {
        margin-bottom: -9px;
        max-width: 392px;
        width: calc(392 / 701 * 100%);
    }
    
    .trends {
        margin-top: 0;
    }
    
    .block-name {
        margin-top: 44px;
        margin-bottom: 18px;
        font-size: 18px;
    }
    
    .block-name:after {
        margin-top: 10px;
    }
    
    .trend {
        min-height: 247px;
        width: calc((100% - 4px)/2);
    }
    
    
    .trend-frame {
        padding-left: 28px;
        margin-right: 13px;
        margin-bottom: 14px;
        margin-left : 17px;
    }
    
    .trend-category-list {
        margin-top: 30px;
        margin-bottom: -22px;
    }
    
    .trend-title {
        max-width: 250px;
    }
      
    h5 {
        font-size: 17px;
        line-height: 22px;
    }
    
    .picture {
        max-width: 392px;
    }
    
    .posts {
        max-width: 768px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 52px;
    }
      
    .post {
        max-width: 392px;
    }
    
    .post::after {
        max-width: 392px;
        margin: 9px auto;
    }
      
    .post:nth-child(1n+2) {
        margin-top: 33px;
    }
      
    .frame {
        margin-left: -3px;
    }
      
    .category-list {
        font-size: 14px;
        margin-top: 14px;
        margin-bottom: -5px;
    }
      
    .category-list a {
        margin-right: 20px;
    }
      
    .title a {
        margin-top: 0;
    }
      
    h2 {
        font-size: 17px;
        line-height: 22px;
    }
      
    .date-author {
        margin-top: 27px;
    }
      
    .text {
        padding-top: 28px;
        line-height: 22px;
        letter-spacing: 0;
    }
      
    .text p {
        margin-top: 0px;
    }
      
    .side-bar {
        position: absolute;
        right: 25px;
        max-width: 275px;
        width: calc(275 / 768 * 100%);
        top: -5px;
        margin-top: 0;
    }
      
    h3 {
        font-size: 14px;
    }
      
    .new-posts:after {
        margin: 0 auto;
    } 
      
    .side-post {
        margin-top: 20px;
    }
      
    .side-frame {
        max-width: 181px;
        width: calc(181 / 275 * 100%);
    }
      
    .side-picture {
        max-width: 70px;
        width: 100%;
        object-fit: cover;
    }
      
    .side-title a {
        display: inline-block;
        width: 100%;
    }
      
    .search {
        margin-top: 66px;
        margin-left: -1px;
    }
    
    .search-group {
        max-width: 250px;
        width: calc(250 / 272 * 100%);
    }
      
    .field {
        margin-left: 0;
    }
      
    .subscribe {
        margin-top: 58px;
    }
      
    .subscribe-title {
        margin-left: -4px;
    }
      
    .subscribe-field {
        max-width: 275px;
    }
      
    .subscribe-button{
        max-width: 275px;
        margin-top: 19px;
    }
      
    .tags {
        margin-top: 58px;
    }
    
    .tags-title {
        margin-left: 3px;
    }
      
    .tags a {
        padding: 4px 11px;
    }
      
    .categories {
        margin-top: 50px;
    }
    
    .categories-title {
        margin-left: 5px;
    }
      
    .categories-list {
        margin-top: 0;
        margin-left: -2px;
    }
    
    .shop {
        padding-left: 23px;
        max-width: 768px;
        gap: 68px;
    }
    
    .product {
        width: calc((100% - 95px)/2);
        margin-bottom: -41px;
    }
    
    .product-picture {
        width: 100%;
        max-width: 292px;
    }
    
    .product-description {
        margin-top: -11px;
        max-width: 295px;
    }
    
    .product-frame {
        margin-left: -24px;
        margin-bottom: 0px;
        padding-left: 18px;
        min-height: 264px;
        width: calc(100% + 51px);
    }
    
    .link {
        margin-bottom: 0px;
    }
    
    .shop-button {
        right: 0px;
    }
      
    .footer {
        max-width: 725px;
        height: 82px;
        margin-top: 75px;
        padding-left: 15px;
        padding-right: 15px;
    }
      
    .copyrights {
        margin: 41px auto 40px auto;
    }
    
    .pop-up-content {
        height: 596px;
        width: 390px;
        padding: 0px 30px;
    }
    
    .pop-up-close {
        right: -1px;
        top: -36px;
    }
    
    .leave-feedback {
        max-width: 270px;
        width: calc(270 / 275 * 100%);
    }
    
    .pop-up-title {
        margin-top: 49px;
        margin-left: 5px;
        font-size: 18px;
    }
    
    .pop-up-title:after {
        margin-left: 124px;
    }
    
    .regularity {
        background-position: right 13px center;
    }
    
    .sub {
        margin-top: 31px;
    }
    
    .topics p {
        line-height: 17px;
        margin-bottom: 15px;
    }
}

@media (orientation: landscape) and (min-width: 641px) and (max-width: 1199px) {
    .trend {
        width: calc((100% - 3 * 4px) / 4);
    }
}