.header {
    background-image: url("../images/banner-bg-tablet.jpg");
}
  
.container {
    max-width: 697px;
    height: 79px;
    padding-top: 28px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
  
.logo {
    height: 36px;
}
  
.navigation {
    margin-top: 8px;
    margin-right: 52px;
}

.switch-menu {
    right: -1px;
    top: 37px;
}

.burger-menu {
    position: relative;
    top: -5px;
    width: auto;
}
  
.menu a:nth-child(1n+1) {
    margin-left: 0px;
}
  
.intro {
    width: 615px;
    margin-top: 74px;
    padding-bottom: 113px;
}
  
h1 {
    font-size: 40px;
    line-height: 55px;
}
  
.main {
    width: 100%;
    max-width: 1200px;
}

.post-list {
    margin-bottom: -9px;
    max-width: 392px;
    width: calc(392 / 701 * 100%);
}

.trends {
    margin-top: 0;
}

.block-name {
    margin-top: 44px;
    margin-bottom: 18px;
    font-size: 18px;
}

.block-name:after {
    margin-top: 10px;
}

.trend {
    height: 247px;
    width: calc((100% - 4px)/2);
}

@media (orientation: landscape) {
    .trend {
        width: calc((100% - 3 * 4px) / 4);
    }
}

.trend-frame {
    padding-left: 28px;
    right: 13px;
    bottom: 14px;
    left : 17px;
}

.trend-category-list {
    margin-top: 30px;
    margin-bottom: -22px;
}

.trend-title {
    max-width: 250px;
}
  
h5 {
    font-size: 17px;
    line-height: 22px;
}

.picture {
    max-width: 392px;
}

.posts {
    max-width: 768px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 52px;
}
  
.post {
    max-width: 392px;
}

.post::after {
    max-width: 392px;
    margin: 9px auto;
}
  
.post:nth-child(1n+2) {
    margin-top: 33px;
}
  
.frame {
    margin-left: -3px;
}
  
.category-list {
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: -5px;
}
  
.category-list a {
    margin-right: 20px;
}
  
.title a {
    margin-top: 0;
}
  
h2 {
    font-size: 17px;
    line-height: 22px;
}
  
.date-author {
    margin-top: 27px;
}
  
.text {
    padding-top: 28px;
    line-height: 22px;
    letter-spacing: 0;
}
  
.text p {
    margin-top: 0px;
}
  
.side-bar {
    position: absolute;
    right: 25px;
    max-width: 275px;
    width: calc(275 / 768 * 100%);
    top: -5px;
    margin-top: 0;
}
  
h3 {
    font-size: 14px;
}
  
.new-posts:after {
    margin: 0 auto;
} 
  
.side-post {
    margin-top: 20px;
}
  
.side-frame {
    max-width: 181px;
    width: calc(181 / 275 * 100%);
}
  
.side-picture {
    max-width: 70px;
    width: 100%;
    object-fit: cover;
}
  
.side-title a {
    display: inline-block;
    width: 100%;
}
  
.search {
    margin-top: 66px;
    margin-left: -1px;
}

.search-group {
    max-width: 250px;
    width: calc(250 / 272 * 100%);
}
  
.field {
    margin-left: 0;
}
  
.subscribe {
    margin-top: 58px;
}
  
.subscribe-title {
    margin-left: -4px;
}
  
.subscribe-field {
    max-width: 275px;
}
  
.subscribe-button{
    max-width: 275px;
    margin-top: 19px;
}
  
.tags {
    margin-top: 58px;
}

.tags-title {
    margin-left: 3px;
}
  
.tags a {
    padding: 4px 11px;
}
  
.categories {
    margin-top: 50px;
}

.categories-title {
    margin-left: 5px;
}
  
.categories-list {
    margin-top: 0;
    margin-left: -2px;
}

.shop {
    padding-left: 23px;
    max-width: 768px;
    gap: 68px;
}

.product {
    width: calc((100% - 95px)/2);
    margin-bottom: -41px;
}

.product-picture {
    width: 100%;
    max-width: 292px;
}

.product-description {
    margin-top: -11px;
    max-width: 295px;
}

.product-frame {
    margin-left: -24px;
    margin-bottom: 0px;
    padding-left: 18px;
    height: 264px;
    width: calc(100% + 51px);
}

.link {
    margin-bottom: 0px;
}

.shop-button {
    right: 0px;
}
  
.footer {
    max-width: 725px;
    height: 82px;
    margin-top: 75px;
    padding-left: 15px;
    padding-right: 15px;
}
  
.copyrights {
    margin: 41px auto 40px auto;
}

.pop-up-content {
    height: 596px;
    width: 390px;
    padding: 0px 30px;
}

.pop-up-close {
    right: -1px;
    top: -36px;
}

.leave-feedback {
    max-width: 270px;
    width: calc(270 / 275 * 100%);
}

.pop-up-title {
    margin-top: 49px;
    margin-left: 5px;
    font-size: 18px;
}

.pop-up-title:after {
    margin-left: 124px;
}

.regularity {
    background-position: right 13px center;
}

.sub {
    margin-top: 31px;
}

.topics p {
    line-height: 17px;
    margin-bottom: 15px;
}